body, html {
	height: 100%;
	padding: 0;
	margin: 0;
}

/*lobby display*/
.lobby-display {
	width: 100%;
	height: 100%;
}

.world-control-panel {
	width: 100%;
	height: 25%;
	/* background-color: #FFDEAD; */
	background-color:rgba(255,111,0,0.80);
	overflow: hidden;
	text-align: center;
}

.world-control-panel h1 {

}

.world-list {
	display: block;
	width: 100%;
	height: 75%;
	background-color: #E0FFFF;
	background-color:#ebebeb;
	overflow: hidden;
}
.world-list h4 {
	margin-left: 2em;
}

.world-list > div {
	margin-left: 2em;
	margin-bottom: 1.5em;
}

.world-list > div > div {
	margin-bottom: 1em;
}

.list-of-worlds {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.world-obj {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	width: 18%;
	height: 200px;
	 background-color:#F8F8FF; 
	/* background-color:brown;  */
	background-image:url("../images/world-bg.png");
	background-repeat:no-repeat;
	background-position:50% 35%;
	background-size: 50% 50%;
	margin-right:1em;
}
.world-obj .world-name {
	vertical-align: bottom;
	margin-top:0.2em;
	font-size:1.5em;
	/* border: 1px solid black; */
	
	height: 30px;
}
.world-obj .world-player-list {
	/* border: 1px solid black; */
	width: 100%;
	height: 100px;
	overflow: scroll;
}
.game-display{
	height:100%;
}
.offset{
	padding-top:1em;
}
.game-display-control-panel {
	background-color:rgba(255,193,37,0.8);
	display: inline;
	float: right;
	width: 20%;
	height:100%;
	text-align: center;
}
.game-display-worldname{
	margin-top:1em;
}
.game-display-worldname>h3{
	margin-top:-0.0em;
}
.game-display-nickname {
	text-align: center;
}
.game-display-nickname button{
	margin-top:0.5em;	
}

.game-display-player-list {
	text-align: center;
	padding-top: 1em;
}

.game-display-player-list table, th, td {
	vertical-align:middle;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 1px solid black; 
	border-collapse: collapse;
	margin: 0 auto;
}

.player-frames > div {
	display: inline;
	position: absolute;
	z-index: -1;
}

.display-world {
	display: inline;
	float: left;
	width: 80%;
}

.rect {
	border: 1px solid #000;
}

/*style form inputs*/
input {
	width: 20em;
	border: 2px solid #F8F8FF;
	height: 2.5em;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

#create_button {
	height: 3em;
	display: inline-block;
	vertical-align: middle;
}
#create_world {
	display: inline-block;
	vertical-align: middle;
}
/*placeholder styling*/
::-webkit-input-placeholder {
	color: #838B8B;
	text-align: center;
}
::-moz-placeholder {/* Firefox 19+ */
	color: #838B8B;
	text-align: center;
}

:-ms-input-placeholder {
	color: #838B8B;
	text-align: center;
}

.function_button {
	background-color: #6495ED;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: white;
	font-family: arial;
	font-size: 0.8em;
	/* font-weight: bold; */
	text-align: center;
	/* text-shadow: 1px 1px 0px grey; */
	padding:0.7em;
}
.function_button:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed'); 
	background-color: #dfdfdf;
	color:black;
}

.function_button:active {
	position: relative;
	top: 1px;:-moz-placeholder  /* Firefox 18- */
	color: red;
}

.function_button.join_world{
	background-color: #008B00;
	padding:1em;
	
}

.function_button.delete_world{
	background-color:#DC143C;
	padding:1em;
}
.function_button#back_to_lobby{
	background-color:#DC143C;
}

.toperror {
	width: 100%;
	background-color: #FF4040;
	text-align: center;
	color: #E8D8D8;
	padding: 4px 0;
	display:none;
}
